html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/background.jpg'); 
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.dp-image {
    position: absolute; /* Position relative to the container */
    top: 30%; /* Position 30% from the top of the container */
    right: 10%; /* Position 10% from the right of the container */
    transform: translateY(-50%); /* Center vertically */
}

.dp-image img {
    border-radius: 250px; /* Keep circular shape */
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.name {
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-left: 5%;
    font-family: 'Abhaya Libre SemiBold';
    z-index: 2;
}

.intro {
    position: absolute;
    top: 320px;
    left: 110px;
    font-size: 30px;
    line-height: 43px;
    color: #fff;
    display: inline-block;
    width: 897px;
    height: 294px;
}

.academic-details {
    background-color: #ceb982;
    padding: 20px;
    width: 100%; /* Full width to allow content centering */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.academic-details .container1 {
    margin-left: 3%;
}

.academic-details .aca h1 {
    font-size: 40px;
    line-height: 24px;
    margin: 0;
    text-align: left;
    padding-top: 20px;
}

.academic-details .education-section {
    margin-top: 20px;
    margin-left: 10px; /* Increased left margin */
}

.academic-details .education-section .edu {
    font-size: 28px;
    margin-bottom: 10px;
}

.academic-details .education-section .giki, 
.academic-details .education-section .ai {
    margin: 0px;
    font-size: 22px;
    padding-left: 20px;
}

.academic-details .journey-text {
    font-size: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* Center the text block */
    text-align: justify; /* Justify the text */
    line-height: 20px;
}
