html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/background.jpg'); 
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.dp-image {
    position: absolute; /* Position relative to the container */
    top: 30%; /* Position 30% from the top of the container */
    right: 10%; /* Position 10% from the right of the container */
    transform: translateY(-50%); /* Center vertically */
}

.dp-image img {
    border-radius: 250px; /* Keep circular shape */
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.name {
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-left: 5%;
    font-family: 'Abhaya Libre SemiBold';
    z-index: 2;
}

.intro {
    position: absolute;
    top: 320px;
    left: 110px;
    font-size: 30px;
    line-height: 43px;
    color: #fff;
    display: inline-block;
    width: 897px;
    height: 294px;
}

body {
    display: flex;
    flex-direction: column;
}

.container1 {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #ceb982;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.aca {
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 5%;
    font-family: 'Abhaya Libre SemiBold';
}

.edu {
    margin-top: 70px;
    margin-left: 0;
    font-size: 20px;
}
.giki {
    margin-top: 25px;
}
.ai {
    margin-top: 25px;
}