<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask App with Static CSS</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="dp-image">
        <img
          src="{{ url_for('static', filename='images/dp.jpeg') }}"
          alt="Profile picture"/>
      </div>
      <div class="name">
        <h1>Muhammad Musa</h1>
      </div>
      <div class="intro">
        Welcome to my portfolio, where creativity meets technology and passion
        drives innovation. I am a senior-year student at Ghulam Ishaq Khan
        Institute of Engineering Sciences and Technology (GIKI), pursuing a BS
        in Artificial Intelligence.
      </div>
    </div>

    <div class="academic-details">
      <div class="container1">
        <div class="aca">
          <h1>Academic</h1>
        </div>
        <div class="education-section">
          <p class="edu">Education:</p>
          <p class="giki">
            Ghulam Ishaq Khan Institute of Engineering Sciences and Technology
          </p>
          <p class="ai">BS Artificial Intelligence · (2021 - Present)</p>
        </div>
      </div>
      <div class="journey-text">
        My academic journey has equipped me with the expertise to bridge the gap
        between data, AI, and user experience, crafting intelligent,
        user-centric solutions that address real-world challenges.
      </div>
    </div>
    
      </div>
  </body>
</html>
